
.ramazan{
    width: 100%;
    height: 100vb;
}
.ramazan .ramazanpic{
    position: relative;
    width: 100%;
    height: 85vb;
    background-image: url(/task1/image/ramazan.jpeg);
}
.ramazan .foot{
    width: 100%;
    height:15vb;
    background-color: rgb(53, 52, 52);
}
.ramazan .foot h1{
    padding: 0px 25px 0px 25px;
    color: aliceblue;
    font-size: 50px;
}
.time{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 21%;
    background-color: rgb(77, 153, 166);
    padding: 20px 10px;
    opacity: 0.9;
}
.time h1{
    display: inline-block;
    padding-left:  50px;
    color: aliceblue;
    font-size: 20px;
}
.time p{   
    display: inline-block;
    padding-left: 5px;
    color: aliceblue;
    font-size: 20px;
}
.ramazanpic .oxu{      
    position: absolute;
    padding: 7px 0px;
    margin-left: 13%;
    width: 88%;
    left: -600px;
    text-align: center;
    background-color: rgb(77, 153, 166);
    opacity: 0.2;
    transform: rotate(90deg);
}
.ramazanpic .oxu h1{
    padding-right: 150px;
    display: inline-block;
    transform:rotate(180deg)
}
.ramazanpic .oxu1{      
    position: absolute;
    padding: 7px 0px;
    width: 100%;
    bottom: 100px;
    left: 0;
    background-color: rgb(77, 153, 166);
    opacity: 0.2;
}
.ramazanpic .oxu1 h1{
    padding-left: 200px;
    display: inline-block;
   text-align: center;
}
